<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새로운 투표 안건 생성</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <style>
        .input_layout {
            display: block;
        }

        label {
            display: block;
        }
    </style>
</head>
<body>
    <div th:replace="layout/header :: header"></div>
    <div>
        <h2>새로운 투표 안건 생성</h2>
        <form id="voteForm" method="post" th:object="${vote}" th:action="@{/vote/create.do}" enctype="multipart/form-data">
            <div class="input_layout">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" th:field="*{title}" required>
            </div>

            <div class="input_layout">
                <label for="title">내용</label>
                <input type="text" id="content" name="content" th:field="*{content}" required>
            </div>

            <div class="input_layout">
                <label for="votePeriod">투표 기한</label>
                <input type="datetime-local" id="votePeriod" name="votePeriod" th:field="*{votePeriod}" required>
            </div>

            <div class="input_layout">
                <label for="targetScope">참여 권한 범위</label>
                <input type="text" id="targetScope" name="targetScope" th:field="*{targetScope}" required>
            </div>

            <div class="input_layout">
                <label for="attendanceType">대면 / 비대면</label>
                <select id="attendanceType" name="attendanceType" th:field="*{attendanceType}" required>
                    <option value="대면">대면</option>
                    <option value="비대면">비대면</option>
                </select>
            </div>

            <div class="input_layout">
                <label for="anonymityType">기명 / 무기명</label>
                <select id="anonymityType" name="anonymityType" th:field="*{anonymityType}" required>
                    <option value="기명">기명</option>
                    <option value="무기명">무기명</option>
                </select>
            </div>
            파일첨부
            <input type="file" name="file" accept=".txt" multiple>
            이미지 첨부
            <input type="file" name="image" accept="image/*" multiple>
            <button type="submit">투표 안건 생성</button>
        </form>
    </div>
</body>
</html>
