<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div th:if="${announce != null}">

    <div>
        <span>[공지사항 제목]</span><span th:text="${announce.annTitle}"></span>
    </div>
    <div>
        <span>[공지사항 내용]</span><span th:text="${announce.annContent}"></span>
    </div>
    <div>
        <span>[공지사항 게시기한]</span><span th:text="${announce.annPeriod}"></span>
    </div>
    <div>
        <span>[공지 대상]</span><span th:text="${announce.targetScope}"></span>
    </div>
    <div th:if="${media.imageName != null}">
        <span>[첨부 이미지] </span><img th:src="@{/file/{imageName}(imageName=${media.imageName})}" style="height: 100px; width"/>
    </div>
    <div th:if="${media.fileName != null}">
        <span>[첨부 파일]</span><a th:href="@{/file/{fileName}(fileName=${media.fileName})}" th:download="${media.fileName}" style="color: blue">[[${media.fileName}]]</a>
    </div>
</div>

</body>
</html>
