<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div th:if="${announce != null}">
    <div>
        <span>[공지사항 제목]</span><span th:text="${announce.annTitle}"></span>
    </div>
    <div>
        <span>[공지사항 내용]</span><span th:text="${announce.annContent}"></span>
    </div>
    <div>
        <span>[공지사항 게시기한]</span><span th:text="${announce.annPeriod}"></span>
    </div>
    <div>
        <span>[공지 대상]</span><span th:text="${announce.targetScope}"></span>
    </div>
    <!-- 이하 필요한 다른 필드들을 추가할 수 있습니다 -->

</div>

</body>
</html>
