<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Announce</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <style>
        .input_layout {
            display: block;
        }

        label {
            display: block;
        }
    </style>
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div>
    <h2>공지사항 수정</h2>
    <form method="post" th:object="${announce}" th:action="@{/announce/update/{annId}(annId=${announce.annId})}" enctype="multipart/form-data">
        <div class="input_layout">
            <label for="annTitle">제목</label>
            <input type="text" id="annTitle" th:field="*{annTitle}" />
        </div>

        <div class="input_layout">
            <label for="annContent">내용</label>
            <input type="text" id="annContent" th:field="*{annContent}" />
        </div>

        <div class="input_layout">
            <label for="annPeriod">게시 기한</label>
            <input type="datetime-local" id="annPeriod" name="annPeriod"
                   th:value="${#temporals.format(announce.annPeriod, 'yyyy-MM-dd HH:mm:ss')}" required>
        </div>

        <div class="input_layout">
            <label for="targetScope">게시 범위</label>
            <input type="text" id="targetScope" th:field="*{targetScope}" />
        </div>
        <div class="input_layout">
            파일첨부
            <input type="file" name="file" accept=".txt" multiple>
        </div>
        <div class="input_layout">
            이미지 첨부
            <input type="file" name="image" accept="image/*" multiple>
        </div>
        <button type="submit">공지사항 수정</button>
    </form>
</div>
</body>
</html>
