<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <style>
        .content {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
        }

        .list-container {
            width: 45%;
            border-right: 1px solid white;
        }

        .list-container h2 {
            color: #333;
            border-bottom: 1px solid white;
            padding: 10px;
        }

        /* 필요에 따라 더 많은 스타일을 추가할 수 있습니다. */
    </style>
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div layout:fragment="content" class="content">
    <div class="list-container" style="background-color: lightgray;">
        <div>
            <h2>투표 안건 목록</h2>
        </div>
        <div style="padding-bottom: 30px">
            <ul th:if="${voteList != null}">
                <li th:each="vote : ${voteList}" style="border-bottom: 1px solid red; margin-bottom: 10px;padding-bottom: 10px">
                    <a th:href="@{/vote/update/{voteId}(voteId=${vote.voteId})}">
                        수정
                    </a>
                    <a th:href="@{/vote/delete/{voteId}(voteId=${vote.voteId})}">
                        삭제
                    </a>
                    <div>
                        <span>[제목] </span><span th:text="${vote.title}"></span>
                    </div>
                    <div>
                        <span>[내용] </span><span th:text="${vote.content}"></span>
                    </div>
                    <div>
                        <span>[작성자] </span><span th:text="${vote.name}"></span>
                    </div>
                    <div>
                        <span>[투표 기간] </span>
                        <span th:text="${#temporals.format(vote.votePeriod, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                    <div>
                        <span>[투표 자격 대상] </span><span th:text="${vote.targetScope}"></span>
                    </div>
                    <div>
                        <span>[대변/비대면] </span><span th:text="${vote.attendanceType}"></span>
                    </div>
                    <div>
                        <span>[기명/무기명] </span><span th:text="${vote.anonymityType}"></span>
                    </div>
                    <div>
                        <a th:href="@{/vote/detail/{voteId}(voteId=${vote.voteId})}">
                            <span>[자세히 보기]</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="list-container" style="background-color: lightgray;">
        <div>
            <h2>공지사항 목록</h2>
        </div>
        <div style="padding-bottom: 30px">
            <ul th:if="${announceList != null}">
                <li th:each="announce : ${announceList}" style="border-bottom: 1px solid red; margin-bottom: 10px;padding-bottom: 10px">
                    <div th:if="${announce.id == session.loginMember.id}">
                        <a th:href="@{/announce/update/{annId}(annId=${announce.annId})}">
                            [ 수정 ]
                        </a>
                        <a th:href="@{/announce/delete/{annId}(annId=${announce.annId})}">
                            [ 삭제 ]
                        </a>
                    </div>

                    <div>
                        <span>[작성자] </span><span th:text="${announce.name}"></span>
                    </div>
                    <div>
                        <span>[제목] </span><span th:text="${announce.annTitle}"></span>
                    </div>
                    <div>
                        <span>[내용] </span><span th:text="${announce.annTitle}"></span>
                    </div>
                    <div>
                        <span>[기한] </span><span th:text="${announce.annPeriod}"></span>
                    </div>
                    <div>
                        <span>[공지 대상] </span><span th:text="${announce.targetScope}"></span>
                    </div>
                    <div>
                        <a th:href="@{/announce/detail/{annId}(annId=${announce.annId})}">
                            <span>[자세히 보기]</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
